.card {
  vertical-align: top;
}
.btn-1 {
  background: blue;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 15px;
  margin-left: 110px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-weight: bold;
}
.btn-1:focus {
  background: red;
}
.btn-1:hover {
  background: green;
}